body {
	background-color: pink;
}

.card {
	background-color: #fff;
	width: 95%;
	max-width: 450px;
	margin: 0 auto 20px;
	padding-bottom: 10px;

	&__header {
		position: relative;
		height: 215px;
	}
	&__img {
		height: 100%;
		width: 100%;
	}
	&__icon {
		position: absolute;
		background-color: #fff;
		top: 20px;
		right: 20px;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		display: grid;
		place-content: center;
		color: red;
		font-size: 25px;
		cursor: pointer;
	}
	&__name {
		color: blue;
		text-transform: capitalize;
	}
}
