.cards {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	@include atSmall {
		padding-top: 20px;
		grid-template-columns: 1fr 1fr;
	}
	@include atMedium {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
