.filter {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	select {
		width: 100px;
		align-self: flex-end;
	}
	label {
		margin-right: 20px;
	}
	@include atMedium {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		.select {
			display: flex;
			justify-content: space-between;

			margin-bottom: 20px;
		}
	}
}
