.filter {
	padding: 20px;
	display: flex;
	//grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	select {
		width: 100px;
	}
	label {
		margin-right: 20px;
	}
	@include atMedium {
		//display: block;
		//grid-template-columns: 1fr;
		//grid-template-rows: 40px 40px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		article {
			display: flex;
			justify-content: space-between;
			//align-items: flex-start;
			margin-bottom: 20px;
		}
	}
}
