.form-container {
	margin: 0 auto;
	color: #fff;
	padding: 15px;
	//background-color: rgb(206, 200, 200);
	background-color: rgb(67, 62, 62);
	max-width: 687px;
}
.form {
	box-sizing: border-box;

	&__group {
		padding: 1rem 1.5rem;
		@media screen and (min-width: 992px) {
			display: grid;
			grid-template-columns: 200px 1fr;
		}
	}
	&__label {
		display: block;
		text-align: left;
		width: 100%;
		color: #fff;
		margin-bottom: 1.25rem;
	}
	&__control {
		display: block;
		height: 1.75rem;
		width: 100%;
		border-width: 0;
	}
	&__submit {
		display: flex;
		justify-content: center;
		@media screen and (min-width: 992px) {
			justify-content: flex-start;
			margin-left: 220px;
		}
	}
	&__sign-up {
		padding-top: 15px;
	}
	&__error {
		background-color: rgb(197, 46, 46);
		color: #fff;
		padding: 0 2px;
		height: 2rem;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
