.form-register {
	margin: 0 auto;
	background-color: #fff;
	max-width: 687px;
}
.form {
	background-color: silver;
	box-sizing: border-box;

	&__group {
		padding: 1rem 1.5rem;
		@media screen and (min-width: 992px) {
			display: grid;
			grid-template-columns: 200px 1fr;
		}
	}
	&__label {
		display: block;
		text-align: left;
		width: 100%;

		margin-bottom: 1.25rem;
	}
	&__control {
		display: block;
		height: 1.75rem;
		width: 100%;
		border-width: 0;
	}
	&__submit {
		display: flex;
		justify-content: flex-end;
	}
	&__error {
		background-color: rgb(197, 46, 46);
		color: #fff;
		padding: 0 2px;
		height: 2rem;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
